
<div class="header">
<h1>
    About us
</h1>
</div>


    <div class="content">

        <div class="content_inner" fxLayout="row wrap">
       
        <div class="contentdetails" fxFlex="45%" fxFlex.xs="100%">

            </div>
            <div class="content_img" fxFlex="55%" fxFlex.xs="100%">
    
            </div>

        </div> 

        <div class="content_inner1" fxLayout="row wrap">
       
         
                <div class="content_img1" fxFlex="50%" fxFlex.xs="100%">
        
                </div>
                <div class="contentdetails1" fxFlex="50%" fxFlex.xs="100%">
                    <h2>Using AI to Improve the Provider Journey and Decrease Burnouts.</h2>
                    <p>
                        EHR developed to address physician burnout so they can focus more on patient care. Leveraging Machine Learning, Natural Language Processing, Speech-to-text and Robotic Process Automation, Edvak's EHR is the most advanced EHR to assist you in every aspect of pre, during and post clinical care. Automated workflows from Scheduling to Billing to improve over all efficiency of your practice. Our AI/ML Driven RCM model optimizes your organization’s Revenue cycle. A tool that deep-dives to account-level investigation to understand why denials happen to help establish efficient processes.
                    </p>
                </div>
    
            </div> 

            <div class="content_inner2" fxLayout="row wrap">
       
                <div class="contentdetails2" fxFlex="50%" fxFlex.xs="100%">
                    <h3>
                        Mission
                    </h3>
                    <p>
                        Bring clarity to the priorities, strategies and opportunities within businesses or roles to help them achieve the exceptional results they desire.
                    </p>
                    </div>
                    <div class="contentdetails2" fxFlex="50%" fxFlex.xs="100%">
                        <h3>
                            Vision
                        </h3>
                        <p>
                            We strive to enable our clients to have clear direction, focus and achieve success in all the areas of their business.  
                        </p>
                    </div>
        
                </div> 

            
    </div>