<div class="banner">
    <div class="banner__inner " fxLayout="row wrap">
        <div class="bnr_content" fxFlex="40%" fxFlex.xs="100%"> 
            <h1>Advanced EHR Software</h1>
            <p>Edvak is focused on delivering EHR software that includes a wide range of features and functions to fulfil the demands of occupational and environmental medicine practitioners in both internal and external clinics.</p>
          </div>
          <div class="imgcontainer" fxFlex="60%" fxFlex.xs="100%">

          </div>
    </div>
    
</div>
<div class="tagline">
    <h2>The Only EHR Software that use AI Technologies</h2>
</div>

<div class="flow_banner" fxLayout="row wrap">
    <div class="imgflow" fxFlex="50%" fxFlex.xs="100%">

    </div>
    <div class="flowcontent" fxFlex="50%" fxFlex.xs="100%">
        <h3>Whats New in Our EHR</h3>
        <p>
            EHR that is designed to create more value and care to both patient and providers. Our EHR has advanced state of the art Artificial intelligence support that helps Healthcare providers by focusing on decreasing physician burnout, which in turn leads to better interaction with patient and providing better care. A streamlined documentation design created with the advice of clinicans that is helping fellow clinicians in better documentation process leading to positive outcomes. 
        </p>
    </div>
</div>
<div class="flow_bannerinner" fxLayout="row wrap">
    <div class="flowcontentinner" fxFlex="50%" fxFlex.xs="100%">
        <h3>Value-Based care​</h3>
        <p>
            Our AI models’ alert physicians to understand hidden medical conditions to avoid chronic deceases. This forms a foundational “care pathway” to help get best results for patients which in turn results in more satisfying patient care.
        </p>
    </div>
    <div class="flowcontentinner" fxFlex="50%" fxFlex.xs="100%">
        <h3>One click Orders</h3>
        <p>
            One click ordering of multiple tasks on our EHR, Either a patient/pharmacy order or trying to get other info, all in a safe and secure manner saving time and effort by making it very streamlined for the User/staff.
        </p>
    </div>
</div>
<div class="flow_bannerinner" fxLayout="row wrap">
    <div class="flowcontentinner" fxFlex="50%" fxFlex.xs="100%">
        <h3>Integration and Interoperability​</h3>
        <p>
            Be it avoiding miscommunications or preventing inadvertent treatment interactions, Integration with Interoperability makes it possible to research data trends, whether past or present performances. When combined, it can be analyzed to make improvements in patient care and other areas. Interoperability can reduce redundancy and get work done very swiftly. Therefore providing a more satisfying patient care.
        </p>
    </div>
    <div class="flowcontentinner" fxFlex="50%" fxFlex.xs="100%">
        <h3>Conversation to Notes </h3>
        <p>
            ​We have developed a better engine for Real-Time Capturing of conversations/dictation and converting them to drafted Notes for medical documentation with multiple types of templates for physician and medical staff. All this with low-latency, Robust Noise-cancellation, profanity Filter, Advanced punctuation and Capitalization along with Time-stamping.  Request For Demo to explore more.
        </p>
    </div>
</div>
<!-- Eprescribe Content -->
<div class="eprescribe" id="eprescribe">
    <div class="ep_headcontent">
        <h3>ePrescribe</h3>
        <p>Edvak’s e-prescribing solution a comprehensive, easy-to-use solution for electronic prescribing, designed to ensure you and your patients are covered every step of the way. Whether you are looking for low-cost e-prescribing to save you time and free you from your script pad forever, or advanced e-prescribing with all the latest features that keeps you up to date with regulatory mandates. </p>
    </div>
    <div class="ep_imgcontent" fxLayout="row wrap">
        <div class="ep_imgcontentinner" fxFlex="50%" fxFlex.xs="100%">
            <h3>Automate and Empower Your Practice Prescribing Success</h3>
            <ul>
               
                <li>
                    <span>Fewer Callbacks From Pharmacies:</span>    Poor physician handwriting can lead to pharmacists contacting your office, seeking clarification about what exactly is being prescribed. 
                </li>
                
            </ul>
            <ul>
               
                <li>
                 <span>Paper Files Replaced:</span>     You can replace the storage room devoted to patient paper files when you switch to electronic prescriptions, freeing up space for more examination rooms. 
                </li>
            </ul>
        </div>
        <div class="ep_img" fxFlex="50% " fxFlex.xs="100%">

        </div>
    </div>

    <div class="ep_bottomcontent">
        <h3>
            Improved Patient Safety  
         </h3>
          <p> E-prescribing is intended to replace writing out, faxing, or calling in prescriptions and the most significant advance is the improvement to the safety and quality of patient care. Avoidable errors associated with handwritten prescriptions can include selection of an incorrect or unavailable drug or dosage, duplication of therapy, omission of information, and misinterpretation of the order due to illegible handwriting.</p>
          <h3>
            Clinical Support for Providers
         </h3>
          <p> E-prescribing gives health care providers full visibility into all of a patient’s documented allergies and previously prescribed drugs and will trigger clinical alerts if a newly prescribed drug has any potential for negative reactions.</p>
          <h3>
            Security 
         </h3>
          <p> Electronic prescribing is significantly more secure than paper prescriptions. Paper prescriptions are subject to transcription errors and are targets for theft and tampering, making it relatively easy for drug-seeking patients to alter prescriptions by increasing dosage, quantity prescribed, or number of refills of medications.</p>
    </div> 
</div>
<!-- Voice Dictation Content -->
<div class="voice" id="voice">
    <div class="voice_headcontent">
        <h3>Voice Dictation</h3>
        <p>Edvak’s e-prescribing solution a comprehensive, easy-to-use solution for electronic prescribing, designed to ensure you and your patients are covered every step of the way. Whether you are looking for low-cost e-prescribing to save you time and free you from your script pad forever, or advanced e-prescribing with all the latest features that keeps you up to date with regulatory mandates.  </p>
    </div>
    <div class="voice_imgcontent" fxLayout="row wrap">
        <div class="voice_img" fxFlex="50%" fxFlex.xs="100%">

        </div>
        <div class="voice_imgcontentinner" fxFlex="50%" fxFlex.xs="100%">
            <h3>
                The practice of dictation is well-established. Why alter a successful system? 
             </h3>
            <p>
                The issue is that traditional dictation necessitates transcription, which is very expensive, delays important updates to medical records, and, more importantly, carries a high risk of errors that, at best, make it more difficult to proofread and correct or, at worst, go unnoticed and lead to other problems.  
            </p>
        </div>
        

        </div>

        <div class="voice_subcontent">
            <h3>Edvak's built-in Voice Enabled Notes dictation tool and Darwin, an AI enabled bot</h3>
            <p>A risk of compliance, inconsistent and erroneous reports, ineffective workflows, and increased expenses can all have an impact on the final result. With Edvak’s comprehensive speech automated solutions, you may overcome any paperwork difficulties and convert disjointed, manual procedures into a streamlined, automated workflow. Our Darwin, a speech bot with AI capabilities can handle most daily duties and lessen the stress that doctors experience when charting or working. </p>
            <img src="../../../../assets/images/voice2.jpg">
        </div>
    </div>
    
<!-- Notes Content -->

    <div class="notes" id="notes">
        <div class="notes_headcontent">
            <h3>Notes Builder</h3>
            <p>The creation of medical notes in software applications poses an intrinsic problem in workflow as the technology inherently intervenes in the processes of collecting and assembling information, as well as the production of a data-driven note that meets both individual and healthcare system requirements</p>
        </div>
        <div class="notes_imgcontent" fxLayout="row wrap">
            <div class="notes_imgcontentinner" fxFlex="50%" fxFlex.xs="100%">
                <h3>The Entire Language of Medicine with You, Everywhere</h3>
                <ul>
                   
                    <li>
                        Edvak offers fast, effortless ways to capture live clinical data with high accuracy on any device, anywhere.
                    </li>
                    
                </ul>
                <ul>
                   
                    <li>
                        Edvak enhances productivity by recording patient data 4x faster than typing & saving at least 3+ hours every day on clinical documentation. Use personal templates, macros and custom vocabulary from any workstation whether you are at the office, at home or the journey in between.
                    </li>
                </ul>
                <ul>
                   
                    <li>
                        Edvak engage one uses AI technology to support back-end workflows, providing evidence-based analysis, work list prioritization and a clinically driven review process. 
                    </li>
                    
                </ul>
            </div>
            <div class="notes_img" fxFlex="50%" fxFlex.xs="100%">
    
            </div>
        </div>
            <div class="notes2_imgcontent" fxLayout="row wrap">
                <div class="notes_imgcontentinner" fxFlex="50%" fxFlex.xs="100%">
                    <h3>Key benefits:</h3>
                    <ul>
                       
                        <li>
                            Delivers proactive clinical insights using real time computer-assisted physician documentation (CAPD) functionality to help clinicians document a complete and compliant patient story before a note is saved in the EHR 
                        </li>
                        
                    </ul>
                    <ul>
                       
                        <li>
                            Enhances the clinician’s workflow and reduces retrospective queries, thereby creating time to care
                        </li>
                    </ul>
                    <ul>
                       
                        <li>
                            Applies AI-powered worklist prioritization, evidence sheets and query workflow management to drive coder and CDI team efficiency
                        </li>
                        
                    </ul>
                    <ul>
                       
                        <li>
                            Integrates with the Edvak Darwin System bringing together front-end and back-end processes on a single capture to code platform
                        </li>
                        
                    </ul>
                </div>
                <div class="notes2_img" fxFlex="50%" fxFlex.xs="100%">
                
                </div>
</div>
</div>
<!-- Lab Order  -->
       
<div class="lab" id="labs">
    <div class="lab_headcontent">
        <h3>Lab Orders</h3>
        <p>It is no secret that laboratories are currently facing increasing hurdles in a healthcare setting that is becoming more digital, from regulatory changes and lower reimbursements to time and resource limits. Laboratories require innovative strategies and solutions to flourish as we move toward data-driven, patient-centric care, which will enhance workflows and enable them to continue operating profitably. <br>

            Physical medical records, handwritten requests, paper orders, results transmitted through courier or fax, and medical data sent via airmail are all becoming obsolete. Since electronic health record (EHR) systems have been widely adopted in recent years, almost all practises are now entering patient demographics, insurance details, billing information, and clinical data into their EHRs. Additionally, nearly all practises anticipate having the ability to order lab tests and receive lab results directly from within their system. <br>
            
            The use of connectivity to the practice’s EHR enables laboratories to receive 100% clean orders that contain crucial patient demographic, insurance, and clinical data. <br>
            
            In order to achieve our goals of reducing laboratory calls to practises and hospitals, increasing first-time claim submissions, lowering operational costs for the laboratory and the practise, enhancing the provider experience, and delivering more trustworthy results for better patient care, Edvak is working to establish this connection. </p>
   <div>
    <img src="../../../../assets/images/lab.png" alt="" width="100%">
   </div>
        </div>