<div class="footer">
    <div class="footer__inner" fxLayout="row wrap">

        <div class="block1" fxFlex="25%" fxFlex.xs="100%">
            <h2>EDVAK Inc.</h2>
            <hr>
            <p>
                Edvak is committed in delivering customized enterprise solutions that allow business to benefit from the use of advanced technologies to meet their organizations objectives. We firmly believe that Artificial Intelligence can provide great productivity gains to any business. We support our clients by solving their business problems and increase their operational efficiency by integrating and leveraging AI technological solutions.
            </p>
            
                <div class="socialmedia__inner"> 
                    <ul>
                        <li><img src="assets\socialicons\facebook-ct.svg"alt="Edvakicons" width="27px" height="30px"></li>
                        <li><img src="assets\socialicons\twitter-ct.svg"alt="Edvakicons" width="27px" height="30px"></li>
                        <li><img src="assets\socialicons\linkedin-ct.svg"alt="Edvakicons" width="27px" height="30px"></li>
                        <li><img src="assets\socialicons\youtube-ct.svg"alt="Edvakicons" width="27px" height="30px"></li>
                    </ul>
                </div>

        </div>

        <div class="block2" fxFlex="25%" fxFlex.xs="100%">
            <h2>Company</h2>
            <hr>
            <ul>
                <li>Healthcare</li>
                <li> Managed IT</li>
                <li> IT Services</li>
                <li> Community</li>
                <li> News</li>
                
            </ul>

        </div>
        <div class="block3" fxFlex="18%" fxFlex.xs="100%">
            <h2>Resources</h2>
            <hr>
            <ul>
                <li>Artificial Intelligence</li>
                <li> Machine Learning</li>
                <li> Data Science</li>
                <li> NLP</li>
                
            </ul>
        </div>
        <div class="block4" fxFlex="32%" fxFlex.xs="100%">
            <h2>Connect</h2>
            <hr>
            <ul>
                <li><img src="assets\socialicons\us.svg"alt="Edvakicons" width="30px" height="17px">40 Benmar Drive, Suite 2045, Houston, TX 77060</li>
                <li><img src="assets\socialicons\telephone.svg"alt="Edvakicons" width="32px" height="19px"> US: +1-(832) 917-0909</li>
                <li><img src="assets\socialicons\ind.svg"alt="Edvakicons" width="30px" height="17px"> #Krishe Sapphire, Level 7 (South Wing), Hitech City<br>
                    Main Road, Madhapur, 500018,  Hyderabad, India.</li>
                <li><img src="assets\socialicons\telephone.svg"alt="Edvakicons" width="32px" height="19px">IN: +1-(832) 917-0909</li>
                <li><img src="assets\socialicons\email.svg"alt="Edvakicons" width="32px" height="19px"> Info@Edvak.com</li>
                <li><img src="assets\socialicons\fax.svg"alt="Edvakicons" width="32px" height="19px"> Fax: (800) 917-0909</li>
                
                </ul>
        </div>
    </div>

    <div class="copyright">
        <p>© 2022 Edvak Tech. All Rights Reserved. | Terms of use | Site Map | Privacy policies</p>
    </div>

</div>