<div class="contactbanner_outer">
    <div class="contactbanner_inner" fxFlex="100%" fxLayoutAlign="center center" >
        <h1>Let's Talk</h1> 
     
    </div>

</div>
<!-- main section -->
<div class="main__outer">
    <div class="main__box" fxLayout="row-wrap">
        <div class="box__left" fxFLex="50%">
            <h1>We would love to hear from you</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti modi optio ab ipsam itaque. Reiciendis ipsum consequuntur provident consequatur quod natus sed repudiandae fugiat minima deleniti,
                 earum inventore nobis ut.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti modi optio ab ipsam itaque. Reiciendis ipsum consequuntur provident consequatur quod natus sed repudiandae fugiat minima deleniti, earum inventore nobis ut.</p>
        </div>

        <div class="box__right" fxFlex="50%">
            <span></span>
        </div>
        
    </div>


    <div class="main__inner" fxLayout="row-wrap">
        <div class="inner__left" fxFlex="70%">
            <img src="assets\images\temp.png" alt="" width="730px" height="400px">
        </div>
        <div class="inner__right" fxFlex="30%">
            <h2> HEADQUARTERS</h2>
            <p>40 Benmar Drive, Suite 2045, Houston, TX 77060 <br> Phone: +1-(832) 917-0909 <br>Email: Info@Edvak.com</p>
            <h2> Other Office Locations</h2>
            <p>#Krishe Sapphire, Level 7 (South Wing), Hitech City<br>
                Main Road, Madhapur, 500018, Hyderabad, India. <br> Phone: +1-(832) 917-0909 <br>Email: Info@Edvak.com</p>
                <h2> Follow us</h2>
                <div class="socialmedia__inner" > 
                    <ul>
                        <li><img src="assets\socialicons\facebook-ct.svg"alt="Edvakicons" width="27px" height="30px"></li>
                        <li><img src="assets\socialicons\twitter-ct.svg"alt="Edvakicons" width="27px" height="30px"></li>
                        <li><img src="assets\socialicons\linkedin-ct.svg"alt="Edvakicons" width="27px" height="30px"></li>
                        <li><img src="assets\socialicons\youtube-ct.svg"alt="Edvakicons" width="27px" height="30px"></li>
                    </ul>
                </div>
        </div>
    </div>
</div>