.contactbanner_outer{
    height: 10rem;
    background-color: #00263C;
}
.contactbanner_inner{
    margin: auto;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    
}
.contactbanner_inner h1{
color: var(--primary-color);
font: 400 40px/22px "EdOne","EdCL",Helvetica,Arial,sans-serif;
background-color:white;
padding: 1.5rem;
box-shadow: inset 7px 0px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px 5px 5px 5px;
margin-bottom: 0px;
}
.main__outer{
    padding-bottom: 5rem;
}
.main__outer h2{
    font: 300 25px/28px "EdOne","EdCL",Helvetica,Arial,sans-serif;
    margin-bottom: 5px;
    color:var(--primary-color);
}
.inner__left{
    padding-left: 5rem;
}
.socialmedia__inner{
    padding-top: 1rem;
    margin-left: -5px;
}
.socialmedia__inner ul, li{
    
    display: flex;
   margin-right: 2.5rem;
}

.main__box{
    height: 25rem;
}
.box__left{
    padding-top: 6rem;
    padding-left: 6rem;
    padding-right: 6rem;
}
.box__right{
    min-height: 20rem;
    background-image: url(../../../assets/images/contactus.jpg);
    background-size: cover;
    min-width: 50%;
    object-fit: contain;
    background-repeat: no-repeat;


}
.main__inner{
    padding-top: 5rem;
    padding-bottom: 5rem;
    align-items: center;
}

/* formcards css */
.formcards__outer{
   background-image: url('../../../assets/images/grad.jpg');
   background-size: cover;
   background-repeat: no-repeat;
    
    padding: 4rem 5rem;
}
.main-card{
    margin-bottom: 1rem;
    padding-left: 2rem;
    height: 10rem;
    box-shadow: inset 0px 0px 4px 0px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}
.main-cardform{
    
    padding-top: 5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    height: 32rem;
    box-shadow: inset 0px 0px 4px 0px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}
.main-cardform h1{
    font: 500 32px/25px "EdOne","EdCL",Helvetica,Arial,sans-serif; 
    text-align: center;
}
.main-card button{
    background-color: var(--primary-color);
}
.main-cardform button{ 
    background-color: var(--primary-color);
    margin-left: 9rem;
    margin-right: 9rem;
}
textarea.mat-input-element {
    padding: 21px 0;
}

@media (max-width: 600px) {
    .box__left,.formcards__outer,.main-cardform,.inner__left,.main__inner,.inner__right{
   padding: 1rem 1rem 1rem 1rem ;

}
.inner__left img{
    width: 424px;
    height:280px;
}
.main-cardform button{
    margin-left: 4rem;
    margin-right: 4rem;
}
 }