<div class="contactbanner_outer">
    <div class="contactbanner_inner" fxFlex="100%" fxLayoutAlign="center center" >
        <h1>Let's Talk</h1> 
     
    </div>

</div>
<!-- main section -->
<div class="main__outer">
    <div class="main__box" fxLayout="row-wrap">
        <div class="box__left" fxFLex="50%">
            <h1>We would love to hear from you</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti modi optio ab ipsam itaque. Reiciendis ipsum consequuntur provident consequatur quod natus sed repudiandae fugiat minima deleniti,
                 earum inventore nobis ut.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti modi optio ab ipsam itaque. Reiciendis ipsum consequuntur provident consequatur quod natus sed repudiandae fugiat minima deleniti, earum inventore nobis ut.</p>
        </div>

        <div class="box__right" fxFlex="50%">
            <span></span>
        </div>
        
    </div>

    <!-- Form and cards -->
    <div class="formcards__outer">
        <div fxLayout="row wrap" fxLayoutGap="30px grid"  >
            <div fxFlex="40%" fxFlex.xs="100%">
          <mat-card class="main-card" >
                
                <mat-card-title > <img src="assets/contact/sales.svg" alt="" width="60px" height="60px"> &nbsp; Sales Enquiry</mat-card-title>
                <mat-card-subtitle>For queries related to sales you can connect with our chat support system</mat-card-subtitle>
                <button mat-raised-button color="primary" class="btn1">Chat Now</button>
              </mat-card> 
              <mat-card class="main-card" >
                <mat-card-title ><img src="assets/contact/techsup.svg" alt="" width="60px" height="60px"> &nbsp;Technical Support</mat-card-title>
                <mat-card-subtitle>If you need Product Technical Support you can raise a ticket to get quick support</mat-card-subtitle>
                <button mat-raised-button color="primary">Send Ticket</button>
              </mat-card> 
              <mat-card class="main-card" >
                <mat-card-title ><img src="assets/contact/product.svg" alt="" width="60px" height="60px"> &nbsp;Request a Demo</mat-card-title>
                <mat-card-subtitle>If you are interested in our product and want to try them out for trail period, you can request demo </mat-card-subtitle>
                <button mat-raised-button color="primary">Request Now</button>
              </mat-card> 
            </div>
              <div fxFlex="60%" fxFlex.xs="100%">
                  
              <mat-card class="main-cardform" >
                <h1>Reach Us with Info</h1>
                <form class="example-form" fxLayout="column">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Name</mat-label>
                      <input matInput placeholder="" value="">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="" value="">
                      </mat-form-field>
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Subject</mat-label>
                        <input matInput placeholder="" value="">
                      </mat-form-field>
                  
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Your Message</mat-label>
                      <textarea matInput placeholder=""></textarea>
                    </mat-form-field>
                    <button mat-raised-button color="primary">Send Message</button>
                  </form>
              </mat-card> 
    </div>
    </div>
</div>
<!-- map and contact details -->
    <div class="main__inner" fxLayout="row wrap">
        <div class="inner__left" fxFlex="70%">
            <img src="assets\images\temp.png" alt="" width="730px" height="400px">
        </div>
        <div class="inner__right" fxFlex="30%">
            <h2> HEADQUARTERS</h2>
            <p>40 Benmar Drive, Suite 2045, Houston, TX 77060 <br> Phone: +1-(832) 917-0909 <br>Email: Info@Edvak.com</p>
            <h2> Other Office Locations</h2>
            <p>#Krishe Sapphire, Level 7 (South Wing), Hitech City<br>
                Main Road, Madhapur, 500018, Hyderabad, India. <br> Phone: +1-(832) 917-0909 <br>Email: Info@Edvak.com</p>
                <h2> Stay Connected</h2>
                <div class="socialmedia__inner" > 
                    <ul>
                        <li><img src="assets\socialicons\facebook-ct.svg"alt="Edvakicons" width="27px" height="30px"></li>
                        <li><img src="assets\socialicons\twitter-ct.svg"alt="Edvakicons" width="27px" height="30px"></li>
                        <li><img src="assets\socialicons\linkedin-ct.svg"alt="Edvakicons" width="27px" height="30px"></li>
                        <li><img src="assets\socialicons\youtube-ct.svg"alt="Edvakicons" width="27px" height="30px"></li>
                    </ul>
                </div>
        </div>
    </div>
