<div class="banner">
    <div class="banner__inner " fxLayout="row wrap">
        <div class="bnr_content" fxFlex="55%" fxFlex.xs="100%"> 
            <h1>Integrated<br>
                TeleHealth technology</h1>
            <p>Whether you’re a patient looking for medical care, or a doctor who provides it, Telehealth keeps us connected.</p>
          </div>
          <div class="imgcontainer" fxFlex="45%" fxFlex.xs="100%">

          </div>
    </div>
    
</div>
<div class="tagline">
    <h2>Remote Healthcare is the new Norm​</h2>

</div>

<div class="content" fxLayout="row wrap">
    <div class="content_img" fxFlex="60%" fxFlex.xs="100%">

    </div>
    <div class="contentdetails" fxFlex="40%" fxFlex.xs="100%">
        <h3>Remote Patient Health care</h3>
        <p>
            Clinicians’ capacity to monitor and manage patients in non-traditional healthcare settings has improved thanks to Remote patient Health monitoring. RPHM employs digital technologies to gather health information from people and electronically communicate the data to medical professionals in another place for evaluation and suggestions. In order to improve healthcare decision-making, non invasive digital technologies are increasingly being included into illness management techniques to provide better patient care. 
        </p>
    </div>

    <div class="contentdetails" fxFlex="60%" fxFlex.xs="100%" style="padding-right: 4rem; margin-top: 3rem;">
        <h3>Medical Effectiveness</h3>
        <p>
            Telemedicine is playing a significant role in reducing rehospitalization rate. By providing constant remote monitoring of patients status at home, nurses and physicians are able to detect the progression of health. In case of any decline in Health condition, proper measures can be taken to intervene and treat the patient before its too late. It enables video or phone appointments between a patient and their health care practitioner, benefits both health and convenience.
        </p>
    </div>
    <div class="contentdetails" fxFlex="40%" fxFlex.xs="100%" style=" margin-top: 3rem;">
        <h3>Benefits</h3>
        <p>
            Reducing the burden on the healthcare system. Getting better access to specialists. Eliminating healthcare access barriers in rural areas and providing better care. Supports People With Limited Mobility. Remote Health is promoting prompt care. Reduction in Nosocomial Infections as exposure is completely avoided. 
        </p>  
    </div>


    <div class="list_content">
        <h3>All of the following activities and services are possible with the help of telehealth:</h3>
        <ul>
            <li>
                Recording measurements like your weight, food intake, blood pressure, heart rate, and blood sugar levels either manually, or through a wearable device, and sending them to your doctor. 
            </li>
           
            <li>
                Having a virtual visit with your doctor or a nurse over your computer or smartphone.
            </li>
            <li>
                Using an online portal to check your test results, request prescription refills, send your doctor a message, or schedule an appointment.
            </li>
            <li>
                Sharing information such as your test results, diagnoses, medications, and drug allergies with all of the providers you see.
            </li>
            <li>
                Coordinating care between your primary care provider and any specialists you visit—including the sharing of exam notes and test results between medical offices in different locations.
            </li>
            <li>
                Getting email or text reminders when you’re due for mammograms, colonoscopies, and other screenings, or routine vaccinations.
            </li>
            <li>
                Monitoring older adults at home to make sure they are eating, sleeping, and taking their medications on schedule.
            </li>
        </ul>

    </div>
</div>
