<div class="banner">
    <div class="content"  fxLayout="row wrap">
        <div fxFlex="40%" fxFlex.xs="100%">
            <h1>
                Practice Management
            </h1>
            <p>
            Our AI enabled practice management software not only save time and expenses and it makes the office safer, informed, organized, efficient and faster. Patients can be on boarded quickly, clinical staff can perform tasks faster, codes are accurate, claims will be correct, and it improves revenue cycle management.  
            </p>
        </div>
    </div>
</div>
<div class="tagline">
    <h2>
        Simple, Automated and Secure Practice management for your office
    </h2>
</div>
<div  class="banner_content" fxLayout="row wrap">
    <div class="inner_content" fxFlex="60%" fxFlex.xs="100%">
        <h3>
            Simplified Patient Registration
        </h3>
        <p>
            Our Patient Registration not only reduce the time and efficiency of the process but also help in gaining customer satisfaction with a competitive benefit. Our RPA based registration process used in setting up accounts, verifying histories, processing enrolments, managing benefits, billing and customer service, various other healthcare activities. You will receive registration & login details to your mobile number. Our Registration system will  provide patients with a safe and secure way to complete new patient registration forms via their smartphones
        </p>
    </div>
    <div class="inner_img" fxFlex="40%" fxFlex.xs="100%" >

    </div>
</div>
<div class="tagline" style="background-color: #AF72B7;">
    <h2>
        Key Features of Practice Management
    </h2>
</div>

<!-- Appointment Scheduler content -->
<div class="appointment" id="appointment">
    <h3 style="text-align:center">
        Appointment Scheduler
    </h3>
    <p style="text-align:center">
        Real-time online scheduling for better patient conversion Online patient scheduling allows visitors to see your availability in real-time and schedule appointments on-demand from any location or device. Edvak scheduling software fully customizes your schedule right out of the box. Our team of product experts helps implement both your calendar of record and your EHR system – no matter how complex your schedule.
    </p>
    <div fxLayout="row wrap">
        <div class="appointment_img" fxFlex="100%">

        </div>

    </div>
    <h3 style="text-align:center">
        Build your perfect practice schedule
    </h3>
    <p style="margin-bottom: 1rem;">
        Edvak scheduling software fully customizes your schedule right out of the box. Our team of product experts helps implement both your calendar of record and your EHR system – no matter how complex your schedule. Automatically syncs with your practice schedule. New appointments sync every 30 seconds or 200 times faster than alternatives, so you’re always up-to-date and never double-booked. Customize the patient booking form for your needs. Control what patients see when they book appointments with custom fields like payment details, insurance information, and more. 1-Click Booking is a simple, fast, and frictionless way for your existing patients to schedule appointments with their doctors, reducing 15 minutes to just 1 tap. Delivering a patient experience that saves time and helps practices convert existing patients into more visits.   
    </p>
    <h3>
        Allow patients to book after hours with easy self-scheduling 
    </h3>
    <p>
        Set available hours within your practice management system, and Edvak does the rest. Our robust dental and medical booking software means more convenience for patients and less manual work for staff. 
    </p>
    <h3>
        Customize By
    </h3>
    <ul>
        <li>
            Appointment type 
        </li>
        <li>
            Appointment duration  
        </li>
        <li>
            Provider 
        </li>
        <li>
            Location 
        </li>
        <li>
            Operatories or exam room 
        </li>
        <li>
            Patient Type   
        </li>
    </ul>
</div>

<!-- claims center content -->
<div class="claims" id="claims">
    <h3 style="text-align:center">
        Claims Center
    </h3>
    <p style="text-align:center">
        Edvak Claim Center provides the rich functional depth required to address the entire claims lifecycle quickly and confidently. From faster closing times to automated workflows, predictive analytics that drive decisions, digital engagement, and an ecosystem of partners and insurrects, Claim Center brings together core claims functionality and a progressive approach for future-proof management.
    </p>
    <div fxLayout="row wrap">
        <div class="claims_img" fxFlex="100%">

        </div>

    </div>
    <p>
        Resolve claims faster, exceed customer expectations, and ignite innovation with the P&C industry’s most trusted claims management solution. Redefine Claims In every industry, today’s customers expect fast and reliable service tailored to their needs. Claims organizations are no exception to these customer expectations. Your teams need to be able to accurately and efficiently manage all aspects of claims while balancing the growing demand for speed and reliability. However, operational bottlenecks and lack of business agility continue to be a significant hindrance. To deliver on these expectations, you need to be able to engage, innovate, and grow efficiently—and you need technology to keep pace.
    </p>
    <div fxLayout="row wrap">
        <div class="claims_list" fxFlex="50" fxFlex.xs="100%">
            <h3>
                Benefits
            </h3>
            <ul>
                <li>
                    Increase claims efficiency
                </li>
                <li>
                    Engage more effectively with customers
                </li>
                <li>
                    Accelerate the adoption of emerging technology
                </li>
                <li>
                    Embedded analytics
                </li>
                <li>
                    Real-time claims performance monitoring
                </li>
            </ul>
        </div>
        <div class="claims_list" fxFlex="50" fxFlex.xs="100%">
            <h3>
                Features
            </h3>
            <ul>
                <li>
                    Embedded analytics
                </li>
                <li>
                    Automated triggers and escalations
                </li>
                <li>
                    Visual catastrophe claim mapping
                </li>
                <li>
                    Integrated fraud detection
                </li>
                <li>
                    Real-time claims performance monitoring
                </li>
            </ul>
        </div>

    </div>

    <div fxLayout="row wrap">
        <div class="claims1_img" fxFlex="100%">

        </div>

    </div>
</div>

<!-- collection center content -->
<div class="collection" id="collection">
    <h3 style="text-align:center">
        Collection Center
    </h3>
    <p style="text-align:center">
        Edvak  uses advance technologies and methods for debt collection that helps in better communication with debtors and also allows them access to complete debtor information for efficient recovery of debts in the fastest possible ways. Our expert services will help healthcare industry companies to focus on patient care and other important business tasks. Our expert professional takes care of medical collection services and helps in improving revenue performance. With our healthcare debt collection services companies can enhance their cash flow.
    </p>

    <div class="collectioncard"fxLayout="row wrap">
        <div class="collection_img" fxFlex="50%" fxFlex.xs="100%">

        </div>
        <div class="collection_content" fxFlex="50%" fxFlex.xs="100%">
            <h3>
                Medical Collection Services
            </h3>
            <p>
                Unpaid medical debt is reaching epidemic proportions as Corona pandemic. Every healthcare organization needs adept management of the patient’s outstanding bill amount. Medical collection service is the topmost services in-demand in the healthcare sector. Every healthcare service facility is looking for a trusted partner to outsource medical collection process. Unpaid bills can pose trouble in the medical healthcare collection front. If we go by surveys, health companies lose about 10-15% revenue every year due to debts incurred on them. This cost heavy on the business. Steady cash flow is critical to the success of your healthcare industry. A medical collection agency handles the work that an in-house team is not able to handle efficiently. Outsourcing medical bill debt collection service is beneficial for the healthcare industry. Our medical debt collection solutions provide maximum collection results and enhance customer experience and reducing the cost of collection
            </p>
        </div>
    </div>
    <h3 style="margin-top:2rem">
        Debt Collection Services for Medical & Healthcare Providers
    </h3>
    <p >
        Edvak  holds expertise in handling medical billing and collection and healthcare debt collection service. We obtain payments for the debts owed by businesses or individuals. We are one of the most trusted medical debt collection companies globally. We strive to build a focused and streamlined medical collection strategy. This will enhance the collection, cut costs, save time and enhance resources procuring. We work on No Win No Fee policy.

        <br>We are HIPAA Compliance Company. The transparency offered by the medical billing collection service ensures smooth execution. Our latest software and well-equipped human resource solutions deliver error-free results. With our medical billing collection services, we deliver proficiency and the best facilities. We are a trusted medical collection agency with 20+ years of experience in medical debt collection and earned a reputation of highest 90% collection rates in the industry. With a team of professional medical collection agents that help healthcare and medical companies to recover debts faster and ethically.
    </p>
</div>

<!-- Reporting Content -->
<div class="reporting" id="reporting">
    <h3 style="text-align:center">
        Reporting
    </h3>
    <p style="text-align:center">
        Edvak  uses advance technologies and methods for debt collection that helps in better communication with debtors and also allows them access to complete debtor information for efficient recovery of debts in the fastest possible ways. Our expert services will help healthcare industry companies to focus on patient care and other important business tasks. Our expert professional takes care of medical collection services and helps in improving revenue performance. With our healthcare debt collection services companies can enhance their cash flow.
    </p>
    <div fxLayout="row wrap">
        <div class="reporting_img" fxFlex="100%">

        </div>
    </div>
    <h3 >
        Advanced Reporting system
    </h3>
    <p >
        Edvak  holds expertise in handling medical billing and collection and healthcare debt collection service. We obtain payments for the debts owed by businesses or individuals. We are one of the most trusted medical debt collection companies globally. We strive to build a focused and streamlined medical collection strategy. This will enhance the collection, cut costs, save time and enhance resources procuring. We work on No Win No Fee policy.

       <br> We are HIPAA Compliance Company. The transparency offered by the medical billing collection service ensures smooth execution. Our latest software and well-equipped human resource solutions deliver error-free results. With our medical billing collection services, we deliver proficiency and the best facilities. We are a trusted medical collection agency with 20+ years of experience in medical debt collection and earned a reputation of highest 90% collection rates in the industry. With a team of professional medical collection agents that help healthcare and medical companies to recover debts faster and ethically.
    </p>
</div>