<div class="banner">
    <div class="banner_overlay">
        <div class="content"  fxLayout="row wrap">
            <div  fxFlex="55%" fxFlex.xs="100%">
                <h1>
                    FIND<br>
                    THE PROFIT<br>
                    IN THE <span>RCM SYSTEM</span><br>
                    AT YOUR MEDICAL PRACTICE.
                </h1>
            </div>
           

        </div>

    </div>

</div>
<div class="tagline">
    <h2>
        Across the healthcare value chain, an insight-driven end-to-end solution
    </h2>
</div>

<div class="body">
    <h3>
        EDVAK's Recyle Management System( RCM)
    </h3>
    <div class="body_content" >
        <div  fxLayout="row wrap">
        <div class="content_list" fxFlex="50%" fxFlex.xs="100%">
            <ul>
                <li>
                    To detect and eliminate process inefficiencies and fulfil the triple objectives of reducing costs, boosting revenue, and optimizing processes, EDVAK offers an end-to-end revolutionary RCM solution. By working with top-tier solution partners in the ecosystem, we deliver the most cutting-edge innovative solutions in the RCM space.
                </li>
                <li>
                    We have incorporated automation throughout the RCM pre-service (Patient admittance & eligibility), service (Medical Coding and updating Patient data), and post Service phases of the healthcare value chain (automating payment posting & billing functions.)
                </li>
                <li>
                    System faults are prevented, detected, and eliminated through managed AI & Analytics, cognitive bot automation, AI rules engine, and Real-time analytics.
                </li>
            </ul>
        </div>

        <div class="img"  fxFlex="50%" fxFlex.xs="100%">
        </div>
    </div>
    <div class="bottom_content" fxLayout="row wrap">
        <div class="inner_bottom" fxFlex="50%" fxFlex.xs="100%">
            <h3>
                Automate your <br>Revenue Cycle.
            </h3>
            <p>Our RCM solutions are purpose-built to help you enhance performance by leveraging clever automation, tested approaches, and experienced personnel. You may swiftly boost your financial outcomes and expand every element of your company office by partnering with EDVAK. With a solid business office and a reliable partner, you can concentrate on providing exceptional care.</p>
        </div>

        <div class="img2"  fxFlex="50%" fxFlex.xs="100%">
        </div>
    </div>
</div>


