.banner{
    background-color: transparent;
    background-image: linear-gradient(90deg, #000000ba  45%, #00000000  100%), url(../../../../assets/images/rcm.jpg);
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    background-position: bottom center;
    background-size: cover;
    object-fit: contain;
    padding: 9rem 2rem 10.5rem 2rem;
  
}
.content h1{
    font: 42px "EdOne","EdCL",Helvetica,Arial,sans-serif; 
    color: white;
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 10px 10px 10px 10px;
    border-color: #0000002e;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    background-image:  linear-gradient(60deg, #013a349e 38%, #0000004f 100%);
    }
.content span{
    font: 42px "EdOne","EdCL",Helvetica,Arial,sans-serif; 
    color: #000000;
}
.tagline{
    background-color: #ffffff;
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    border-color: #013A34DE;
   
}
.tagline h2{
    font: 32px "EdCL",Helvetica,Arial,sans-serif;  
    color: #000000;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}
.body h3{
    padding-top: 3rem;
    text-align: center;
    font: 600 24px "EdCL",Helvetica,Arial,sans-serif;  
    color: #000000;
}
.body_content{
    padding: 2rem 7rem 2rem 7rem;
}
.img{
    min-height: 20rem;
    background-size: contain !important;
    background:url(../../../../assets/images/rcm1.jpg);
    overflow: hidden;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.content_list{
    padding: 1rem;
}
.content_list li{
    list-style: disc !important;
    font:  18px "EdCL",Helvetica,Arial,sans-serif;  
    word-spacing: 2px;
    line-height:30px;
    color: rgb(36, 36, 36);
    text-align: justify;
    margin-bottom: 6px;
 
}
.img2{
    min-height: 20rem;
    background-size: contain !important;
    background:url(../../../../assets/images/rcm2.webp);
    overflow: hidden;
    object-fit: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.bottom_content{
    margin-top: 5rem;
    background-color: #02463F;
    border-radius: 15px 15px 15px 15px;
    border-style: solid;
    border-color: #02463F;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
}
.bottom_content h3{
    text-align: start;
    padding-top: 0rem;
    color: #ffffff;
    font: 300 40px "EdCL",Helvetica,Arial,sans-serif;  
}
.bottom_content p{
    font:  18px "EdCL",Helvetica,Arial,sans-serif;  
    word-spacing: 2px;
    line-height: 32px;
    color: rgb(255, 255, 255);
    text-align: justify;
}
.inner_bottom{
    padding: 2rem 3rem 2rem 3rem;
}
@media (max-width: 600px) {
    .body_content {
   padding: 1rem 1rem 1rem 1rem ;

}
}