<div class="banner">
    <div class="banner_overlay">
        <div class="content"  fxLayout="row wrap">
            <div fxFlex="30%" fxFlex.xs="100%">
                <h1>
                    Darwin – AI Voice Assistant​
                </h1>
            </div>
           

        </div>

    </div>

</div>
<div class="tagline">
    <h2>
        Improving Patient Experience with AI Voice Assistant
    </h2>
</div>

<div class="content_body">
    <p>
        Our AI Virtual Assistant Darwin powered with the advanced algorithm of machine learning and natural language processing, help in transforming day-to-day operations for physicians, other clinical staff, and patients, and ensure compliance. Darwin can answer any question of clinician from the EHR data and create labs and medication orders with voice commands. Today physician burnout is one of the most pressing issues in the healthcare industry. Clinicians need to invest plenty of time to document patient interactions through EHR. Here, EHR utilizing which specialists can check records of the patients at whatever point required.
    </p>

<div class="imgcontent" fxLayout="row wrap">
    <div class="img" fxFlex="50%" fxFlex.xs="100%">

    </div>
    <div class="imgcontentinner" fxFlex="50%" fxFlex.xs="100%">
        
        <h3>Transforming Clinician Experience</h3>
        <ul>
           
            <li>
                Darwin can answer any question of clinician from the EHR data and create labs and medication orders with voice commands.
            </li>
            <li>
                Darwin can record patient interactions in under a moment by transcribing all the details obtained through dictation. Using the advanced speech-to-text algorithm of Darwin, healthcare providers can easily transcribe doctors’ notes in real time with highest accuracy unlike traditional medical transcriptionists.  
            </li>
            <li>
                Darwin assists specialists with saving a ton of time on prescriptions or documenting the entire clinical history of any patient with chronic conditions.
            </li>
            <li>
                Additionally, Darwin can consistently pose important inquiries to patients to screen their behavior and health.
            </li>
       </ul>
       </div>
  
    </div>
</div>

<div class="bottom_content">
    <h3>
        Improving Patient Experience
    </h3>
   <p>
    <span>Assistance for Patients:</span>
    Darwin assist patients in getting real-time answers to their queries concerning health symptoms, different illnesses, possible medicine side effects, accessible treatment options, drug availability, and therapeutic tips.
   </p>
   <p>
    <span>Real-time Medication Reminders:</span>
    for patients, especially older adults, can set timely reminders for taking medications on time without any miss. 
   </p>
   <p>
    <span>Virtual Care:</span>
    Patients can book an appointment with their preferred doctor just by conversing with Darwin. They will also get the option to upload their reports consistently if their medical issue requires it, without visiting the clinic or filling complex forms. It will help patients get accurate and reliable advice from doctors and reduce the chances of readmission.
   </p>

</div>