<div class="banner">
    <div class="banner__inner">

    </div>
</div>

<!-- All job Opening -->


<!-- job Cards -->

<div class="maincard__container">
    <h2>All Job Openings</h2>
    <div fxLayout="row wrap" fxLayoutGap="16px grid"  >
        <div fxFlex="33%" fxFlex.xs="100%">
       <a routerLink="/fullstack"><mat-card class="main-card" >
           
            <mat-card-title >Full Stack Developer</mat-card-title>
            <mat-card-subtitle><mat-icon>room</mat-icon>Remote - Hyderabad</mat-card-subtitle>
          </mat-card> </a>
          <a routerLink="/softeng"> <mat-card class="main-card">
           
            <mat-card-title>Software Engineer</mat-card-title>
            <mat-card-subtitle><mat-icon>room</mat-icon>Remote - Hyderabad</mat-card-subtitle>
          </mat-card> </a>
        </div>
          <div fxFlex="33%" fxFlex.xs="100%">
            <a routerLink="/medann"> <mat-card class="main-card">
               
                <mat-card-title>Medical Annotators</mat-card-title>
                <mat-card-subtitle><mat-icon>room</mat-icon>Remote - Hyderabad</mat-card-subtitle>
              </mat-card> </a>
          </div>
              <div fxFlex="33%" fxFlex.xs="100%">
                <a routerLink="/meanstack"> <mat-card class="main-card">
                   
                    <mat-card-title>Mean Stack Developer</mat-card-title>
                    <mat-card-subtitle><mat-icon>room</mat-icon>Remote - Hyderabad</mat-card-subtitle>
                  </mat-card> </a>
</div>
          </div>