<div class="banner">
    <div class="banner__inner">
      <h1>Edvak Careers</h1>

      <h2>Build your career in HeathCare Inndustry <br> Join our team to improve heathcare with <br>AI Technology </h2>
      <h3>We’re looking for teammates who are excited to help us<br> achieve our mission of unleashing the world’s untapped potential. <br>Apply for jobs on the Edvak team and help us build <br>Best Heathcare company from the comfort of your home.</h3>
    </div>
</div>

<!-- All job Opening -->


<!-- job Cards -->

<div class="maincard__container">
    <h2>All Job Openings</h2>
    <div fxLayout="row wrap" fxLayoutGap="15px grid"  >
        <div fxFlex="33%" fxFlex.xs="100%">
       <a routerLink="/fullstack"><mat-card class="main-card" >
           
            <mat-card-title >Full Stack Developer</mat-card-title>
            <mat-card-subtitle><mat-icon>room</mat-icon>Remote - Hyderabad</mat-card-subtitle>
          </mat-card> </a>
          <a routerLink="/softeng"> <mat-card class="main-card">
           
            <mat-card-title>Software Engineer</mat-card-title>
            <mat-card-subtitle><mat-icon>room</mat-icon>Remote - Hyderabad</mat-card-subtitle>
          </mat-card> </a>
        </div>
          <div fxFlex="33%" fxFlex.xs="100%">
            <a routerLink="/medann"> <mat-card class="main-card">
               
                <mat-card-title>Medical Annotators</mat-card-title>
                <mat-card-subtitle><mat-icon>room</mat-icon>Remote - Hyderabad</mat-card-subtitle>
              </mat-card> </a>
          </div>
              <div fxFlex="33%" fxFlex.xs="100%">
                <a routerLink="/meanstack"> <mat-card class="main-card">
                   
                    <mat-card-title>Mean Stack Developer</mat-card-title>
                    <mat-card-subtitle><mat-icon>room</mat-icon>Remote - Hyderabad</mat-card-subtitle>
                  </mat-card> </a>
</div>
          </div></div>

          <!-- bottom cards -->
          <div class="bottomcard__container">
            <div fxLayout="row wrap" fxLayoutGap="14px grid"  >
                <div fxFlex="33%" fxFlex.xs="100%">
                  <div class="imgcard">
                  
                   <h2>Internships for College Graduates</h2></div>
</div>
<div fxFlex="33%" fxFlex.xs="100%">
  <div class="imgcard1">
                  
    <h2>Hiring Working Professionals</h2></div>
</div>
<div fxFlex="33%" fxFlex.xs="100%">
  <div class="imgcard2">
                  
    <h2>Join as Elite Professionals</h2></div>
</div>
</div>
</div>


