.banner{
    background-color: transparent;
    background-image: linear-gradient(360deg, #C6C6C62B 34%, #000000bf 71%), url(../../../../assets/images/patientportalbanner.jpg);
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    background-position: center center;
    background-size: cover;
    padding: 5rem 0rem 15rem 0rem;
  
}
.content h1{
    font: 42px "EdOne","EdCL",Helvetica,Arial,sans-serif; 
    color: white;
    padding: 1rem 2rem 1rem 2rem;
    background-color: #0068B5C4;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
    
    }
.maincontent{
    background-color: #f8f8f9;
    border-style: solid;
    border-width: 10px 0px 0px 0px;
    border-color: #000000;
    
    padding: 2rem 7rem 0rem 7rem;
}
.maincontent p{
    font:  18px "EdCL",Helvetica,Arial,sans-serif;  
    word-spacing: 2px;
    line-height: 30px;
    color: rgb(36, 36, 36);
    text-align: justify;
    padding-bottom: 2rem;

}
.maincontent h3{
    color: #000000;
    font: 300 22px "EdCL",Helvetica,Arial,sans-serif;  
}
.maincontent li{
    margin-left: 3rem;
    list-style: disc !important;
    font:  18px "EdCL",Helvetica,Arial,sans-serif;  
    word-spacing: 2px;
    line-height: 32px;
    color: rgb(36, 36, 36);
    text-align: justify;
}
.mainfooter{
    margin-top: 2rem;
   background-color: #0068B5;
   
  
}
.p_img{
    min-height: 16rem;
    background-size: cover !important;
    background:url(../../../../assets/images/patientportal1.jpg);
    overflow: hidden;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.p_imgcontentinner{
    padding: 4rem 1rem 4rem 1rem;
    text-align: center;
}
.p_imgcontentinner h3{
    font:  40px "EdCL",Helvetica,Arial,sans-serif;  
    color: #ffffff;
    
}
.p_imgcontentinner p{
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    font:  18px "EdCL",Helvetica,Arial,sans-serif;  
    word-spacing: 2px;
    line-height: 30px;
    color: rgb(36, 36, 36);
    text-align: center;
   
}
.intake{
    padding: 2rem 7rem 0rem 7rem;
    background-color: #ffffff;
    border-style: solid;
    border-width: 5px 0px 0px 0px;
    border-color: #999999;
}
.intake h2{
    font:  30px "EdCL",Helvetica,Arial,sans-serif;  
    color: #2C6DA1;
    text-align: center;
}
.intake p{
    border-radius: 5px;
    font:  18px "EdCL",Helvetica,Arial,sans-serif;  
    word-spacing: 2px;
    line-height: 30px;
    color: rgb(36, 36, 36);
    text-align: center;
}
.intakecontent_img{
    min-height: 20rem;
    background-size: cover !important;
    background:url(../../../../assets/images/intake.webp);
    overflow: hidden;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.intakecontent_inner{
    padding: 1rem;
}
.intakecontent_inner li{
    margin-left: 3rem;
    list-style: disc !important;
    font:  18px "EdCL",Helvetica,Arial,sans-serif;  
    word-spacing: 2px;
    line-height: 32px;
    color: rgb(36, 36, 36);
    text-align: justify;
}
.intakecontent_inner span{
    font: 600 18px "EdCL",Helvetica,Arial,sans-serif;  
}
.appointment{
    padding: 2rem 7rem 2rem 7rem;
    background-color: #f8f8f9;
    border-style: solid;
    border-width: 5px 0px 0px 0px;
    border-color: #DB187E;
}
.appointment h2{
    font:  30px "EdCL",Helvetica,Arial,sans-serif;  
    color: #DB187E;
    text-align: center;
}
.appointment h3{
    font:  25px "EdCL",Helvetica,Arial,sans-serif;  
    color: #686868;
    text-align: center;

}
.appointment p{
    font:  18px "EdCL",Helvetica,Arial,sans-serif;  
    word-spacing: 2px;
    line-height: 30px;
    color: rgb(36, 36, 36);
    text-align: center;
}
.appointment_img{
    min-height: 20rem;
    background-size: cover !important;
    background:url(../../../../assets/images/appointment.svg);
    overflow: hidden;
    object-fit: contain;
    background-position: center center;
    background-repeat: no-repeat; 
}
.appointment_content{
    margin-top: 2rem;
    padding: 3rem 2rem 3rem 2rem;
}
.appointment_content h3{
    font:  22px "EdCL",Helvetica,Arial,sans-serif;  
    color: #000000;
    text-align: start;
    margin-bottom: 1rem;

}
.appointment_content p{
    font:  18px "EdCL",Helvetica,Arial,sans-serif;  
    word-spacing: 2px;
    line-height: 32px;
    color: rgb(36, 36, 36);
    text-align: justify;
}
.appointment_grid{
    margin-top: 2rem;
}
.appointment_grid_content h3{
    font:  22px "EdCL",Helvetica,Arial,sans-serif;  
    color: #DB187E;
   
}
.appointment_grid_content p{
    font:  18px "EdCL",Helvetica,Arial,sans-serif;  
    word-spacing: 2px;
    line-height: 32px;
    color: rgb(36, 36, 36);
    text-align: justify;
}
.paybills{
    padding: 2rem 7rem 0rem 7rem;
    border-style: solid;
    border-width: 5px 0px 0px 0px;
    border-color: #8534A4; 
   
}
.paybills h2{
    font:  30px "EdCL",Helvetica,Arial,sans-serif;  
    color: #8534A4;
    text-align: center;
}
.paybills p{
    font:  18px "EdCL",Helvetica,Arial,sans-serif;  
    word-spacing: 2px;
    line-height: 30px;
    color: rgb(36, 36, 36);
    text-align: center;
}
.paybills_imgcontent{
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.paybills_img{
    min-height: 20rem;
    background-size: cover !important;
    background:url(../../../../assets/images/paybills.jpg);
    overflow: hidden;
    object-fit: contain;
    background-position: center center;
    background-repeat: no-repeat; 
}
.paybills_imgcontentinner{
    padding: 3rem;
}
.paybills_imgcontentinner h3{
    font:  22px "EdCL",Helvetica,Arial,sans-serif;  
    color: #8534A4;
   
}
.paybills_imgcontentinner li{
    margin-left: 3rem;
    list-style: disc !important;
    font:  18px "EdCL",Helvetica,Arial,sans-serif;  
    word-spacing: 2px;
    line-height: 32px;
    color: rgb(36, 36, 36);
    text-align: justify;
}
.rxrefill{
    padding: 2rem 7rem 2rem 7rem;
    background-color: #f8f8f9;
    border-style: solid;
    border-width: 5px 0px 0px 0px;
    border-color: #00C6B1; 
   
}
.rxrefill h2{
    font:  30px "EdCL",Helvetica,Arial,sans-serif;  
    color: #00C6B1;
    text-align: center;
}
.rxrefill p{
    font:  18px "EdCL",Helvetica,Arial,sans-serif;  
    word-spacing: 2px;
    line-height: 30px;
    color: rgb(36, 36, 36);
    text-align: center;
}
.rxrefill h3{
    font:  22px "EdCL",Helvetica,Arial,sans-serif;  
    color: #ffb71d;
    text-align: start;
    margin-top: 1rem
}
.rxrefill li{
    margin-left: 3rem;
    list-style: disc !important;
    font:  18px "EdCL",Helvetica,Arial,sans-serif;  
    word-spacing: 2px;
    line-height: 32px;
    color: rgb(36, 36, 36);
    text-align: justify;
}
.rxrefill_img{
    min-height: 20rem;
    background-size: cover !important;
    background:url(../../../../assets/images/rxrefill.jpg);
    overflow: hidden;
    object-fit: contain;
    background-position: center center;
    background-repeat: no-repeat; 
}
@media (max-width: 600px) {
    .rxrefill , .intake, .maincontent,.appointment, .paybills{
   padding: 1rem 1rem 1rem 1rem ;

}
.banner{
    background-position: right;
    padding: 5rem 0rem 5rem 0rem;
}
 }