<div class="banner">
    <div class="inner__banner">
        <div class="banner__text">
            <h1>Improving Healthcare with AI Technologies</h1>
            <p>Bring the power of Data Science and Artificial Intelligence to every business. Best Solutions to existing systems powered by AI </p>
            <button mat-raised-button  >Learn More</button>
            
        </div>
        <img src="assets\images\Edvakbanner.jpg"alt="Edvakbanner" width="790px" height="410px" style=" position: relative;
        z-index: 5;
        top: 20px;">
    </div>

</div>

<!-- Icons Sections -->
<div class="icons__section">

    <div fxLayout="row wrap" >

        <div fxFlex="20%" fxFlex.xs="50%">
         
            <div class="container_insideicons">
                <img src="assets\icons\products-active.svg"alt="Edvakicons" width="35px" height="50px" >
                <Span>Products</Span></div>
        </div>

        <div fxFlex="20%" fxFlex.xs="50%" >
         
            <div class="container_insideicons">
                <img src="assets\icons\category.svg"alt="Edvakicons" width="35px" height="50px">
                <Span>Solutions</Span></div>
        </div>
        <div fxFlex="20%" fxFlex.xs="50%">
         
            <div class="container_insideicons">
                <img src="assets\icons\technical-support.svg"alt="Edvakicons" width="35px" height="50px" >
                <Span>Support</Span></div>
        </div>

        <div fxFlex="20%" fxFlex.xs="50%">
         
            <div class="container_insideicons">
                <img src="assets\icons\internship.svg"alt="Edvakicons" width="35px" height="50px" >
                <Span>Careers</Span></div>
        </div>

        <div fxFlex="20%" fxFlex.xs="50%">
            <div class="container_insideicons">
            <img src="assets\icons\comment-blog.svg"alt="Edvakicons" width="35px" height="50px" >
            <Span>Blogs</Span></div>
        </div>

    </div>
</div>


<!-- main card section -->

<div class="maincard__container">
    <div fxLayout="row wrap" fxLayoutGap="7px grid" >
        <div fxFlex="30%" fxFlex.xs="100%">
        <mat-card class="main-card">
          
            <img mat-card-image src="assets\images\Practicemanagment.jpg" alt="Practicemanagment">
            <mat-card-content>
                <h3>Practice Managment</h3>
              <p>
                Medical practice management software aids in the administration of day-to-day operations in a medical office. It acts as an intermediary between some forms of clinical activity, such as the reporting of diagnostic and treatment codes, and other types of work, including as arranging patient visits, validating insurance, and handling medical billing responsibilities.
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card class="main-card">
          
            <img mat-card-image src="assets\images\revenue.jpg" alt="Practicemanagment">
            <mat-card-content>
                <h3>Revenue Cycle Management</h3>
              <p>
                RCM services relieve the medical office of the stress of billing, allowing clinicians and staff to focus on patient care. Your employees will never have to deal with the billing system again. Our experience and cutting-edge technology increases your performance without raising costs, allowing you to spend more money on patient care.
              </p>
            </mat-card-content>
          </mat-card>
          
          </div>

          <div fxFlex="40%" fxFlex.xs="100%">
            <mat-card class="main-card">
                <img mat-card-image src="assets\images\ehr.jpg" alt="ehr">
                <mat-card-content>
                    <h3>Eelectronic Health Record</h3>
                  <p>
                    Edvak is focused on delivering EHR software that includes a wide range of features and functions to fulfil the demands of occupational and environmental medicine practitioners in both internal and external clinics. Our System maintains the electronic version of patients medical history including demographics, progress notes, problems, medications, vital signs, immunizations, laboratory data and radiology reports.
                  </p>
                </mat-card-content>
              </mat-card>
              <mat-card class="main-card">
                <img mat-card-image src="assets\images\telehealth.jpg" alt="ehr">
                <mat-card-content>
                    <h3>TeleHealth Technology</h3>
                  <p>
                    Hospitals are increasingly worried about how to contact patients online, as well as how to provide and preserve patient information. With the help Telehealth apps, various clinics use remote patient monitoring to digitally manage patients, forecast and prevent sickness, provide online medicines, and enhance clinical outcomes.
                  </p>
                </mat-card-content>
              </mat-card>
              </div>

              <div fxFlex="30%" fxFlex.xs="100%" >
                <mat-card class="main-card">
                    <img mat-card-image src="assets\images\Patientportal.jpg" alt="Patientportal">
                    <mat-card-content>
                        <h3>Patient Portal</h3>
                      <p>
                        Patients can view their health data released by their healthcare facility through our EHR patient portal. They can book in-person or virtual doctor's appointments online. View past appointments, as well as view, reschedule, or cancel  upcoming appointments. Online access to diagnostic test results and medical photos are available at their finger tips.
                      </p>
                    </mat-card-content>
                  </mat-card>
                  <mat-card class="main-card">
                    <img mat-card-image src="assets\images\Itmanagnent.jpg" alt="Patientportal">
                    <mat-card-content>
                        <h3>Managed IT Solutions</h3>
                      <p>
                        
                        Edvak delivers discrete tasks such as IT infrastructures, even if you're a small clinic in need of limited IT setup and maintenance or a major health group wishing to totally outsource your IT operations. Edvak is devoted to  provide remote 24*7  help desk support for our customers.
                      </p>
                    </mat-card-content>
                  </mat-card>
             </div>
             
                 
    </div>

</div>  

<!-- Brands logo carosol -->
<div class="brands__main">
  <div class="brands__inner">
            <ngx-slick-carousel class="carousel" 
            #slickModal="slick-carousel" 
            [config]="slideConfig" >
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <img src="{{ slide.img }}" alt="" width="150px" height="118px" >
        </div>
        </ngx-slick-carousel>
  </div>
</div>
           



