
<div class="banner">
    <div class="inner__banner">
        <div class="banner__text">
            <h1>Improving Healthcare with AI Technologies</h1>
            <p>Bring the power of  Artificial Intelligence to Healthcare System. Complete AI powered EHR and Practice Management Solution </p>
            <button mat-raised-button  (click)="products.scrollIntoView({ behavior: 'smooth', block: 'start' })" >Learn More</button>
            
        </div>
        <img src="assets\images\Edvakbanner.jpg"alt="Edvakbanner" width="790px" height="410px" style=" position: relative;
        z-index: 5;
        top: 20px;">
    </div>

</div>

<!-- Icons Sections -->
<div class="icons__section">

    <div fxLayout="row wrap" >

        <div fxFlex="20%" fxFlex.xs="50%">
         
            <div class="container_insideicons">
                <img src="assets\icons\products-active.svg"alt="Edvakicons" width="35px" height="50px" >
                <Span>Products</Span></div>
        </div>

        <div fxFlex="20%" fxFlex.xs="50%" >
         
            <div class="container_insideicons">
                <img src="assets\icons\category.svg"alt="Edvakicons" width="35px" height="50px">
                <Span>Solutions</Span></div>
        </div>
        <div fxFlex="20%" fxFlex.xs="50%">
         
            <div class="container_insideicons">
                <img src="assets\icons\technical-support.svg"alt="Edvakicons" width="35px" height="50px" >
                <Span>Support</Span></div>
        </div>

        <div fxFlex="20%" fxFlex.xs="50%">
         
          <a routerLink="/career">  <div class="container_insideicons">
                <img src="assets\icons\briefcase.svg"alt="Edvakicons" width="35px" height="50px" >
                <Span>Careers</Span></div></a>
        </div>

        <div fxFlex="20%" fxFlex.xs="50%" fxHide.xs>
            <div class="container_insideicons">
            <img src="assets\icons\comment-blog.svg"alt="Edvakicons" width="35px" height="50px" >
            <Span>Blogs</Span></div>
        </div>

    </div>
</div>


<!-- main card section -->
<ng-particles [id]="id" [options]="particlesOptions" [particlesInit]="particlesInit"
              (particlesLoaded)="particlesLoaded($event)"></ng-particles>
<div class="maincard__container" #products>
    <div fxLayout="row wrap" fxLayoutGap="7px grid" >
        <div fxFlex="27%" fxFlex.xs="100%">
          <a routerLink="/practicemanagment">
        <mat-card class="main-card">
            <img mat-card-image src="assets\images\Practicemanagment.jpg" alt="Practicemanagment">
            <mat-card-content>
                <h3>Practice Managment</h3>
              <p>
                Medical practice management software aids in the administration of day-to-day operations in a medical office. It acts as an intermediary between some forms of clinical activity, such as the reporting of diagnostic and treatment codes, and other types of work, including as arranging patient visits, validating insurance, and handling medical billing responsibilities.
              </p>
            </mat-card-content>
          </mat-card>
          </a>
          <a routerLink="/rcm">
          <mat-card class="main-card">          
            <img mat-card-image src="assets\images\revenue.jpg" alt="rcm">
            <mat-card-content>
                <h3>Revenue Cycle Management</h3>
              <p>
                RCM services relieve the medical office of the stress of billing, allowing clinicians and staff to focus on patient care. Your employees will never have to deal with the billing system again. Our experience and cutting-edge technology increases your performance without raising costs, allowing you to spend more money on patient care.
              </p>
            </mat-card-content>
          </mat-card>
          </a>
          </div>

          <div fxFlex="46%" fxFlex.xs="100%">
            <a routerLink="/ehr">
            <mat-card class="main-card">
                <img mat-card-image src="assets\images\ehr.jpg" alt="ehr">
                <mat-card-content>
                    <h3>Eelectronic Health Record</h3>
                  <p>
                    Edvak is focused on delivering EHR software that includes a wide range of features and functions to fulfil the demands of occupational and environmental medicine practitioners in both internal and external clinics. Our System maintains the electronic version of patients medical history including demographics, progress notes, problems, medications, vital signs, immunizations, laboratory data and radiology reports.
                  </p>
                </mat-card-content>
              </mat-card>
            </a>
            <a routerLink="/telehealth">
              <mat-card class="main-card">
                <img mat-card-image src="assets\images\telehealth.jpg" alt="telehealth">
                <mat-card-content>
                    <h3>TeleHealth Technology</h3>
                  <p>
                    Hospitals are increasingly worried about how to contact patients online, as well as how to provide and preserve patient information. With the help Telehealth apps, various clinics use remote patient monitoring to digitally manage patients, forecast and prevent sickness, provide online medicines, and enhance clinical outcomes.
                  </p>
                </mat-card-content>
              </mat-card>
           </a>
              </div>

              <div fxFlex="27%" fxFlex.xs="100%" >
                <a routerLink="/patientportal">
                <mat-card class="main-card">
                    <img mat-card-image src="assets\images\Patientportal.jpg" alt="Patientportal">
                    <mat-card-content>
                        <h3>Patient Portal</h3>
                      <p>
                        Patients can view their health data released by their healthcare facility through our EHR patient portal. They can book in-person or virtual doctor's appointments online. View past appointments, as well as view, reschedule, or cancel  upcoming appointments. Online access to diagnostic test results and medical photos are available at their finger tips.
                      </p>
                    </mat-card-content>
                  </mat-card>
                </a>
                  <a routerLink="/darwin">
                  <mat-card class="main-card">
                    <img mat-card-image src="assets\images\darwin.jpg" alt="darwin">
                    <mat-card-content>
                        <h3>Darwin – AI Voice Assistant</h3>
                      <p>
                        
                        Our AI Virtual Assistant Darwin powered with the advanced algorithm of machine learning and natural language processing, help in transforming day-to-day operations for physicians, other clinical staff, and patients, and ensure compliance. Darwin can answer any question of clinician from the EHR data and create labs and medication orders with voice commands.
                      </p>
                    </mat-card-content>
                  </mat-card>
                  </a>
             </div>
             
                 
    </div>

</div>  

<!-- Brands logo carosol -->
<!-- <div class="brands__main">
  <div class="brands__inner">
            <ngx-slick-carousel class="carousel" 
            #slickModal="slick-carousel" 
            [config]="slideConfig" >
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <img src="{{ slide.img }}" alt="" width="150px" height="118px" >
        </div>
        </ngx-slick-carousel>
  </div>
</div> -->
           



