<div class="banner_outer">
    <div class="banner_inner" fxLayout="column" fxFlex="100%" fxLayoutAlign="center center" >
        <h1>Culture & Benefits</h1> 
        <h3>Hear from Edvak employees, learn about our beliefs, and discover the advantages of working here.</h3>
        <button mat-raised-button  routerLink="" >Explore Openings</button>
    </div>

</div>
<!-- main content -->
<div class="text_outer">
    <div class="text_inner" fxLayout="column" fxFlex="100%" fxLayoutAlign="center center" >
        <h2>What's it like to work at Edvak</h2> 
        <h4>We’re compassionate, team-oriented, and dedicated to balancing work and personal well-being — and we’re always ready for a challenge. Here are five reasons why our employees enjoy working at Edvak.</h4>
    </div>

</div>
<!-- tab content -->
<div class="tab__outer">
    <mat-tab-group dynamicHeight>
        <mat-tab label="Growth opportunities">
            <div class="maintab__box" fxLayout="row wrap">
                <div class="tbbox__left1" fxFlex="50%">
                    <span></span>
                </div>

                <div class="tbbox__right" fxFlex="50%">
                    <p>My first step into <b>Edvak was a summer internship.</b> I was seriously impressed 
                        by the workplace culture and enthusiasm, which I continue to see on a daily 
                        basis.<br>
                    My colleagues greeted me warmly and made me feel at ease. I began to believe that
                     this was a place where I wanted to stay for a longer period of time. As a result, 
                     after my internship finished, I did just that. There’s no question I’m scared to ask, 
                     and they all get answered quickly and enthusiastically. That’s how we do things around
                      here.<br> <b>Burhan Kawoosa</b><br><b>Full Stack Developer</b></p>
                </div>
            </div>
                
                
        </mat-tab>
        <mat-tab label="Innovative Learning">
            <div class="maintab__box" fxLayout="row wrap">
                <div class="tbbox__left2" fxFlex="50%">
                    <span></span>
                </div>

                <div class="tbbox__right" fxFlex="50%">
                    <p>“Every product manager’s ambition is to own something from conception through
                     adoption. It’s the truth of my situation. We get to present our ideas and visions
                      to senior management and have open talks about how to go ahead with the correct ones.

                    There’s always something fresh buzzing around in my brain since I get to discuss my ideas
                     and views with Krishna Saggurthi  on a frequent basis., our Manager. I even get to talk
                      about and showcase stuff I’ve been working on, and there’s always something new to tell.”
                    
                     Preeti J.
                    Product Manager</p>
                </div>
            </div>
                
                
        </mat-tab>
        <mat-tab label="Incredible Team">
            <div class="maintab__box" fxLayout="row wrap">
                <div class="tbbox__left3" fxFlex="50%">
                    <span></span>
                </div>

                <div class="tbbox__right" fxFlex="50%">
                    <p>My first step into Edvak was a summer internship. I was seriously impressed 
                        by the workplace culture and enthusiasm, which I continue to see on a daily 
                        basis.<br>
                    My colleagues greeted me warmly and made me feel at ease. I began to believe that
                     this was a place where I wanted to stay for a longer period of time. As a result, 
                     after my internship finished, I did just that. There’s no question I’m scared to ask, 
                     and they all get answered quickly and enthusiastically. That’s how we do things around
                      here.<br> Burhan Kawoosa<br>Full Stack Developer</p>
                </div>
            </div>
                
                
        </mat-tab>
        <mat-tab label="Balanced Work">
            <div class="maintab__box" fxLayout="row wrap">
                <div class="tbbox__left4" fxFlex="50%" fxFlex.xs="100%">
                    <span></span>
                </div>

                <div class="tbbox__right" fxFlex="50%" fxFlex.xs="100%">
                    <p>My first step into Edvak was a summer internship. I was seriously impressed 
                        by the workplace culture and enthusiasm, which I continue to see on a daily 
                        basis.<br>
                    My colleagues greeted me warmly and made me feel at ease. I began to believe that
                     this was a place where I wanted to stay for a longer period of time. As a result, 
                     after my internship finished, I did just that. There’s no question I’m scared to ask, 
                     and they all get answered quickly and enthusiastically. That’s how we do things around
                      here.<br> Burhan Kawoosa<br>Full Stack Developer</p>
                </div>
            </div>
                
                
        </mat-tab>
      </mat-tab-group>
</div>

<!-- card content -->
<div class="maincard__container">
    <h2>Our Benefits</h2>
    <div fxLayout="row wrap" fxLayoutGap="16px grid"  >
        <div fxFlex="33%" fxFlex.xs="100%">
        <mat-card class="main-card">
           
            <mat-card-content>
                <img mat-card-image src="assets\career\mother.svg" alt="family" width="50px" height="55px">
                <h3>Take Time For Family</h3>
              <p>
                All Edvak employees globally have access to extensive, flexible paid caregiver and adoption leave: Primary caregivers will be required to work only for 22 weeks.
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card class="main-card">
           
            <mat-card-content>
                <img mat-card-image src="assets\career\luggage.svg" alt="family" width="50px" height="55px">
                <h3>Paid vacations</h3>
              <p>
                All Edvak employees globally have access to extensive, flexible paid caregiver and adoption leave: Primary caregivers will be required to work only for 22 weeks.
              </p>
            </mat-card-content>
          </mat-card>
        </div>

        <div fxFlex="33%" fxFlex.xs="100%">
            <mat-card class="main-card">
               
                <mat-card-content>
                    <img mat-card-image src="assets\career\work.svg" alt="family" width="50px" height="55px">
                    <h3>Remote work flexibility</h3>
                  <p>
                    All Edvak employees globally have access to extensive, flexible paid caregiver and adoption leave: Primary caregivers will be required to work only for 22 weeks.
                  </p>
                </mat-card-content>
              </mat-card>
              <mat-card class="main-card">
               
                <mat-card-content>
                    <img mat-card-image src="assets\career\welfare.svg" alt="family" width="50px" height="55px">
                    <h3>Overtime Perks</h3>
                  <p>
                    All Edvak employees globally have access to extensive, flexible paid caregiver and adoption leave: Primary caregivers will be required to work only for 22 weeks.
                  </p>
                </mat-card-content>
              </mat-card>
            </div>
            <div fxFlex="33%" fxFlex.xs="100%">
                <mat-card class="main-card">
                   
                    <mat-card-content>
                        <img mat-card-image src="assets\career\health.svg" alt="family" width="50px" height="55px">
                        <h3>Medical coverage</h3>
                      <p>
                        All Edvak employees globally have access to extensive, flexible paid caregiver and adoption leave: Primary caregivers will be required to work only for 22 weeks.
                      </p>
                    </mat-card-content>
                  </mat-card>
                  <mat-card class="main-card">
                   
                    <mat-card-content>
                        <img mat-card-image src="assets\career\family.svg" alt="family" width="50px" height="55px">
                        <h3>Take Time For Family</h3>
                      <p>
                        All Edvak employees globally have access to extensive, flexible paid caregiver and adoption leave: Primary caregivers will be required to work only for 22 weeks.
                      </p>
                    </mat-card-content>
                  </mat-card>
                </div>
    </div>

</div>
<!-- last content -->
<div class="endtext_outer">
    <div class="endtext_inner" fxLayout="column" fxFlex="100%" fxLayoutAlign="center center" >
        <h2>Find your next opportunity</h2> 
        <h4>Join us as we help the Healthcare sector simplify how they do business.</h4>
        <button mat-raised-button  routerLink="" >Join Our Team</button>
    </div>
