/* You can add global styles to this file, and also import other style files */

*{
    padding: 0;
    margin: 0;
    list-style: none;
    font: 400 16px/22px "EdOne","EdCL",Helvetica,Arial,sans-serif;
    text-decoration: none;
}
.mat-h1, .mat-headline, .mat-typography h1{
    font: 400 32px/40px "EdOne","EdCL",Helvetica,Arial,sans-serif;
}
body { margin: 0; }

:root{
    --primary-color:#0274be;
   
}
@font-face {
    font-family: EdCl;
    src: url('src/assets/fonts/IntelClear_Lt.ttf') format('ttf');
    font-size: normal;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: EdOne;
    src: url('assets/fonts/intelone-display-light.ttf') format('ttf');
    font-size: normal;
    font-weight: normal;
    font-style: normal;
}

