<div class="outside">
<div class="container" fxLayout="row wrap">
    
        <div class="container__img">
            <img src='assets\career\fullstack.webp' alt="">
        
        </div>
        <div class="main__text">
            <h2>Job Requirements</h2>
           
                <li>
                    5-8 years of Strong knowledge and experience in MEAN Stack (Node, Angular, MongoDB) Web Application development.
                </li>
                <li>
                    Deep understanding of client side development, coding in HTML5, CSS3, JavaScript ES6, Typescript and jQuery.      
                </li>
                <li>Strong experience using a client side MVC framework such as Angular.</li>
                <li>Strong experience in Node.js and Nest.js.</li>
                <li>Top notch programming skills and writing code for robust software design.</li>
                <li>Experience in responsive design, cross browser compatibility and website performance.</li>
                <li>Experience with Git.</li>
                <li>Experience with handling Services, RESTful APIs and Microservices.</li>
                <li>Experience with frontend CSS frameworks like Bootstrap, Angular Material UI and pre-processors like SASS and LESS.</li>
                <li>Strong hold on MongoDB and MySQL experience, web servers (NGINX)</li>
                <li>Experience with Graph charts (Chart.js, c3.js, D3.js) and Node.js process management.</li>
                <li>Having Experience with two-factor authentication and payment gateway integration.</li>
                <li>Good knowledge of coding standards, design patterns, unit testing (Jasmine, Karma, Jest).</li>
                <li>Strong hold on Data Structures and Algorithms in Python.</li>
                <li>Good Experience in working with Cloud technologies like AWS, Azure.</li>
                <li>Good Knowledge in configuring and using Kafka.</li>
                <li>Development experience with agile methodologies (JIRA), with modern source control repositories (bit bucket etc.) and knowledge of DevOps toolset.</li>
           
            <h3>Job Benefits</h3>
            <li>Remote working.
                </li>
                <li>Global exposure.</li>
                <li>Competitive market-based salary.</li>
            <h4>Advantages of joining Edvak</h4>
            <li>Flexible work timings</li>
                <li>Full-time remote opportunity</li>
                <li>collaborative & supportive work environment</li>

                <h1>To Apply For this Job Position, Submit your Resume at info@edvak.com</h1>
        </div>
    
</div>
</div>
