<div class="outer__container">
    <div class="innerdiv__left">
        <div class="brand__name">
            <p>EDVAK</p>
        </div>
        
        <div class="menu">
            <ul>
                <li>
                    <button mat-button [matMenuTriggerFor]="belowMenu"> <span>Products</span><mat-icon style="font-size: 16px;  display:flex;align-items: center;"> add </mat-icon></button>
                    <mat-menu #belowMenu="matMenu" yPosition="below">
                        <button mat-menu-item>Item 1</button>
                        <button mat-menu-item>Item 2</button>
                        <button mat-menu-item>Item 1</button>
                        <button mat-menu-item>Item 2</button>
                         </mat-menu>
                
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="belowMenu"> <span>Services</span><mat-icon style="font-size: 16px;  display:flex;align-items: center;"> add </mat-icon></button>
                    <mat-menu #belowMenu="matMenu" yPosition="below">
                        <button mat-menu-item>Item 1</button>
                        <button mat-menu-item>Item 2</button>
                        <button mat-menu-item>Item 1</button>
                        <button mat-menu-item>Item 2</button>
                         </mat-menu>
                 </li>
                 <li>
                    <button mat-button [matMenuTriggerFor]="belowMenu"> <span>AboutUs</span><mat-icon style="font-size: 16px;  display:flex;align-items: center;"> add </mat-icon></button>
                        <mat-menu #belowMenu="matMenu" yPosition="below">
                            <button mat-menu-item>Item 1</button>
                            <button mat-menu-item>Item 2</button>
                            <button mat-menu-item>Item 1</button>
                            <button mat-menu-item>Item 2</button>
                             </mat-menu>
                 </li>
         

               

            </ul>

        </div>
        
    </div>
    <span class="example-spacer"></span>
    <div class="innerdiv__right" >
        <button mat-raised-button  routerLink="contact" >Contact Us</button>

    </div>


</div>
